@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Topics.Count; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i"
                @(i == 0 ? "class=\"active\"" : "")></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{bool first = true;}
        @foreach (var topic in Model.Topics)
        {
            <div class="@(first ? "item active" : "item")">
                <img src="@topic.LogoAddress" alt="@topic.Name" class="img-responsive carousel-img centered" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" asp-page="@topic.PageAddress">
                            @topic.Name
                        </a>
                    </p>
                </div>
            </div>
            first = false;
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

